@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
}

.rc-pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rc-pagination-item {
    background-color: transparent !important;
    padding: 5px 8px;
    border: none !important;
    font-weight: bold;
    box-shadow: black
}

.rc-pagination-item.rc-pagination-item-active {
    background-color: #1e7e2e !important;
    border-radius: 10px;
}

.rc-pagination-item.rc-pagination-item-active a {
    color: white !important;
}

.rc-pagination {
    cursor:pointer;
}

button, .cus-btn{
    box-shadow: 1px 2px 3px 1px #424242;
}